//
   Created by glavnyjpolzovatel on 18.02.16.
include html
include tabheader
.container
   .panel.panel-default
      .panel-heading
         .panel-title Make code
      .panel-body
         form(role="form" action="/code" method="post")
            .form-group
               label Name
               input(type="text" placeholder="Series name").form-control
               | &nbsp;
            .form-group
               input(type="number" placeholder="count").form-control
               | &nbsp;
            .form-group
               input(type="number" placeholder="cost").form-control
               | &nbsp;
            .form-group
               input(type="date" placeholder="expire").form-control
               | &nbsp;
            .form-group
               select.form-control
                  option Common
                  option Stok
            | &nbsp;
            button.btn.btn-default(type="submit") Make
            | &nbsp;
            button.btn.btn-default(type="reset") Reset
   table.table.table-haver.table-striped
      thead
         tr
            th id
            th series
            th code
      tbody