//
   Created by Vitaly Revyuk on 17.02.16.

include html
include tabheader
.container

   .well Общие понятия и термины
   p <b>Деньги</b> - живые денежные средства перечисленные на счет ВиватТВ или списанные активацией кода или пополнением.
   p <b>Код пополнения</b> - цифровой 16-ти значный код, предназначенный для ввода его в форму ВиватТВ тв приложения и активации автоматической процедуры зачисления денежных средств на счет абонента. Сумма кода списывается со счета дилера. Имеет ограниченный срок жизни, задается при создании. Может быть использован любым зарегистрированным абонентом ВиватТВ.
   p <b>Промо код</b> - цифровой 16-ти значный код, предназначенный для ввода его в форму ВиватТВ тв приложения и активации автоматической процедуры регистрации абонента на определенный кодом тариф и зачисления денежных средств на счет абонента. Сумма кода НЕ списывается со счета дилера. Имеет ограниченный срок жизни, задается при создании. Может быть использован новым (не зарегситрированным) абонентом или зарегистрированным, но ни разу не платившим по своему лицевому счету. Абонент хоть раз оплативший услуги, любым способом, ВиватТВ воспользоваться промокодом не сможет.
   p <b>Прямой платеж</b> - мгновенное пополнения абонентского лицевого счета. Сумма платежа списывается со счета дилера.
   p <b>Сумма резерва (кредита)</b> - Сумма задолженности до которой возможно создание кодов пополнения и проведения прямых платежей.
   p <b>Скидка, %</b> - Профит дилера. Учитывается при зачислении средств на счет дилера. Если перечислено 100 грн, на счет будет зачислено 100 + %скидки.
   p <b>Делегированная сумма для промокодов</b> - Фиксированная сумма на которую можно создать промокоды. Сумма может быть увеличена в процессе работы.

   .well Разделы сайта
   p <b>Профиль</b> - Информация о дилере. Смена пароля.
   p <b>Деньги</b> - Текущий баланс дилера. Положительные (пополнение) и отрицательные (списания) транзакции, движение по счету.
   p <b>Коды пополнения</b> - Создание, удаление и статистика для кодов пополнения. Коды создаются дилером по мере необходимости.
   p <b>Проомо коды</b> - Создание, удаление и статистика для кодов. Коды выполняют функцию активации при необходимости, и пополнения. Коды создаются дилером по мере необходимости.
   p <b>Прямой платеж</b> - Прямое пополнение лицевых счетов абонентов.
   p <b>Извещения</b> - Новостная лента.
   p <b>Помощь</b> - Раздел помощи.

   .well Создание и управления промо и кодами пополнения
   p <b>Имя группы</b> - Коды условно можно разделить на группы. Группа это текстовая метка для части кодов для удобства управления. Скажем при наличии нескольких распространиетелей или магазинов.
   p <b>Количество кодов</b> - число указывающее нужное количество кодов для генерации.
   p <b>Сумма кода</b> - Сумма пополнения одного кода.
   p <b>Тариф-акция</b> - (для промо кодов) сумма пополнения одного кода по акции и тариф для неактивированных абонентов.
   p <b>Дата срока годности группы кодов</b> Срок после которого код становится не активным. Необходимо для защиты от утерь и воровства кодов. По умолчанию срок годности - 1 год.
   p <b>Примечания</b> - комментарий к создаваемому количеству кодов. Комментарий этого кода будет отображаться в личном кабиненте абонента в списке платежей!
   p Созданные и сгрупированные по имени группы коды будут отображены справа от формы. Колонка "файл" содержит ссылки на файлы со списком кодов для каждой группы. Формат CSV. Коды можно удалить как по одному так и группой. <b>Использованные коды удалить нельзя !</b> Развернутый список кодов можно увидеть нажав на ссылку - имя группы.

   .well Прямое пополнение абонентского лицевого счета
   p <b>VivatTV абонент</b> - 6-ти значный номер лицевого счета в системе ВиватТВ
   p <b>сумма, грн</b> сумма пополнения произвольная.
   p <b>Примечание</b> комментарий к пополнению. Комментарий будет отображаться в личном кабиненте абонента в списке платежей.
   p Справа от формы будет видна история пополнений.

   .well Поддержка&nbsp;
      a(href="mailto:dealer@vivat-tv.com") dealer@vivat-tv.com