//
   Created by glavnyjpolzovatel on 18.02.16.
include html
include tabheader
.container
   .row
      .col-lg-4
      .col-lg-4
         form(role='form' method="post" action="/login")
            input(type="hidden" id="password" name="password" value="hacker")
            input(type="hidden" id="username" name="username" value="hacker_password")
            .form-group
               label(for="text_username") Login or email
               input.form-control(type="text" placeholder="Login" id="text_username" name="text_username")
            .form-group
               label(for="text_password") Password
               input.form-control(type="password" placeholder="Password" id="text_password" name="text_password")
            button.btn.btn-default(type="submit") Enter
      .col-lg-4
script(src="js/crypto-js/crypto-js.js")
script(src="js/crypt.js")
